{% extends 'base.html.twig' %}
{% block body %}
<div class="container-fluid justify-content-center">
    <div class="row mt-5">
        <div class="col-12">
            <a class="action-button animate blue" href="{{ path("question_index") }}">All questions</a>
            <a class="action-button animate green" href="{{ path("answer_index") }}">All answers</a>
            <a class="action-button animate yellow" href="{{ path("category_index") }}">All categories</a>
            <a class="action-button animate red" href="{{ path("users_index") }}">All users</a>
        </div>
    </div>
</div>
{% endblock %}