{% extends 'base.html.twig' %}

{% block title %}Users index{% endblock %}

{% block body %}
    <div class="text-center">
        <h1 class="mb-4 mt-3">All Users</h1>
    </div>
    <table class="table mt-5">
        <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}

            <tr>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <a class="action-button animate red" href="">Ban</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
